__pycache__/
*.py[cod]
.venv/
.venv312/
venv/
.env
.DS_Store
.ipynb_checkpoints/
data/raw/*
data/processed/*
data/external/*
data/nasa/*
data/papers/*
data/uploaded/*
data/merged/*
data/metadata/*
models/*
reports/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!data/kaggle/.gitkeep
!data/nasa/.gitkeep
!data/papers/.gitkeep
!data/uploaded/.gitkeep
!data/merged/.gitkeep
!data/metadata/.gitkeep
!models/.gitkeep
!saved_models/.gitkeep
!reports/.gitkeep
